SERIES

In [2]:
import pandas as pd

serie = pd.Series(['Carol', 'Jéssica','Caique', 'Arthur'])
print(serie)

0      Carol
1    Jéssica
2     Caique
3     Arthur
dtype: object

In [3]:
serie[1]

'Jéssica'

In [4]:
serie[[0,3]]

0     Carol
3    Arthur
dtype: object

In [5]:
serie[[1,3]]

1    Jéssica
3     Arthur
dtype: object

In [6]:
serie.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

In [7]:
serie.describe()

count         4
unique        4
top       Carol
freq          1
dtype: object

In [8]:
serie = pd.Series(['Carol', 'Jéssica','Caique', 'Arthur'],
                  index=['a', 'b', 'c', 'd'])
print(serie)

a      Carol
b    Jéssica
c     Caique
d     Arthur
dtype: object

In [9]:
serie.array

<NumpyExtensionArray>
['Carol', 'Jéssica', 'Caique', 'Arthur']
Length: 4, dtype: object

In [10]:
serie.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
# Operações 
serie=pd.Series([5,10,15,20,25])
print('Multiplicar serie por 2')
print(serie*2)
print('Verificar valores menores que 15 na serie')
print(serie[serie<=15])

Multiplicar serie por 2
0    10
1    20
2    30
3    40
4    50
dtype: int64
Verificar valores menores que 15 na serie
0     5
1    10
2    15
dtype: int64

In [12]:
# Serie para dicionario
dicionario = serie.to_dict()
print(dicionario)

{0: 5, 1: 10, 2: 15, 3: 20, 4: 25}

In [13]:
# Exemplo
populacao = {
    'São Paulo': 11451,
    'São Bernardo do campo': 811,
    'Santo André': 749,
    'São Caetano do Sul': 162 
    }

serie_pop = pd.Series(populacao)
print(serie_pop)

São Paulo                11451
São Bernardo do campo      811
Santo André                749
São Caetano do Sul         162
dtype: int64

In [14]:
serie_pop.describe()

count        4.000000
mean      3293.250000
std       5446.356114
min        162.000000
25%        602.250000
50%        780.000000
75%       3471.000000
max      11451.000000
dtype: float64

In [16]:
# Analise de dados vazios NaN
populacao = {
    'São Paulo': 11451,
    'São Bernardo do campo': 811,
    'Santo André': 749,
    'São Caetano do Sul': 162 
    }

cidades = ['São Paulo', 'Campinas', 'São Bernardo do campo', 'São Caetano do Sul' ]

serie_pop = pd.Series(populacao, index=cidades)
print(serie_pop)

São Paulo                11451.0
Campinas                     NaN
São Bernardo do campo      811.0
São Caetano do Sul         162.0
dtype: float64

In [17]:
pd.isna(serie_pop)

São Paulo                False
Campinas                  True
São Bernardo do campo    False
São Caetano do Sul       False
dtype: bool

In [24]:
print('Mínimo')
print(serie_pop.min())
print('Máximo')
print(serie_pop.max())
print('Média')
print(serie_pop.mean())
print('Desvio padrão')
print(serie_pop.std())

Mínimo
162.0
Máximo
11451.0
Média
4141.333333333333
Desvio padrão
6338.668656219012

In [26]:
# Adicionando a média aos valores vazios NaN
serie_pop.fillna(serie_pop.mean())

São Paulo                11451.000000
Campinas                  4141.333333
São Bernardo do campo      811.000000
São Caetano do Sul         162.000000
dtype: float64

In [29]:
# loc - Seleciona usando rótulos
serie_pop.loc['São Caetano do Sul']

np.float64(162.0)

In [31]:
# iloc - Seleciona usando índices numéricos
serie_pop.iloc[2]

np.float64(811.0)

Dada a Tabela abaixo da notas dos alunos, responda
aos itens abaixo:

In [51]:
notas_alunos = {
            'Joao':4.7,
            'Maria':2.1,
            'Antônio':7.4,
            'José':2,
            'Alma':3.5,
            'Francisco':3.8,
            'Pedro':4.6,
            'Carlos':8.2,
            'Luís':8.3,
            'Paulo':4.6,
            'Helena':3.6,
            'Mario':4.5,
            'Laura':9.1,
            'Beatrix':9.2,
            'Lucas':4.5
                        }
               

# a) Crie um serie para todos os alunos.
notas_alunos_serie = pd.Series(notas_alunos)
print(notas_alunos_serie)

Joao         4.7
Maria        2.1
Antônio      7.4
José         2.0
Alma         3.5
Francisco    3.8
Pedro        4.6
Carlos       8.2
Luís         8.3
Paulo        4.6
Helena       3.6
Mario        4.5
Laura        9.1
Beatrix      9.2
Lucas        4.5
dtype: float64

b) Obtenha a média das notas.

In [52]:
media_alunos = pd.Series.mean(notas_alunos_serie)
print(media_alunos)

5.34

c) Determine quem tirou a maior nota.

In [53]:
maior_nota = pd.Series.idxmax(notas_alunos_serie)
print(maior_nota)

Beatrix

d) Determine quem tirou a menor nota.

In [54]:
menor_nota = pd.Series.idxmin(notas_alunos_serie)
print(menor_nota)

José

e) Qual a porcentagem de alunos que obtiveram notas
acima da média?

In [55]:
alunos = notas_alunos_serie.count()
acima_media = notas_alunos_serie[notas_alunos_serie>media_alunos].count()
print(((acima_media/alunos)*100).round(1))

33.3

f) Quais alunos farão a prova substitutiva? (Notas abaixo de 5)

In [56]:
print(notas_alunos_serie[notas_alunos_serie<5])

Joao         4.7
Maria        2.1
José         2.0
Alma         3.5
Francisco    3.8
Pedro        4.6
Paulo        4.6
Helena       3.6
Mario        4.5
Lucas        4.5
dtype: float64